@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
}

.todo_container::-webkit-scrollbar {
    width: 6px;
}

.todo_container::-webkit-scrollbar-track {
    background: transparent;
}

.todo_container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}